<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company and Material Information System</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Company and Material Information System</h1>
        <h2>1. Visit <a th:href="@{/admin}">Administrator Panel</a></h2>
        <h2>2. Visit <a th:href="@{/about}">About</a></h2>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>